:root {
  --cream: #FFFDF8;
}
.outer-entry {
  display: flex;
  justify-content: center;
}

.entry {
  background-color: var(--cream);
  width: 1050px;
  height: 100px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.entry:hover {
  box-shadow: 2px 2px 8px rgba(248, 158, 174, 0.5);
}