@import url('../Colours.css');

.overall .btn-primary {
    background-color: var(--mellow);
    color: var(--brown);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    display: inline-block;
    margin-top: 3%;
}

.overall .btn-primary:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}

h3 {
    padding: 10px;
    color: var(--brown);
    font-size: 50px;
    text-align: center;
}

label {
    color: var(--brown);
}

.background {
    height: 100vh;
}

.overall {
    display: block;
    position: relative;
    height: 60%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    align-items: center;
    text-align: center;
}

.overall .error-message {
    color: red;
}

.fillbox {
    padding: 10px 0px;
    color: var(--brown);
}

.overall input {
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--cream);
}

.overall .forgot-password {
    color: var(--brown);
    text-align: center;
    margin-top: 10%;
}

p {
    color: var(--brown);
}