@import url('../Colours.css');

.EggText {
    position: absolute;
    width: 60%;
    font-size: 7rem;
    color: var(--mellow);
    -webkit-text-stroke: 2px var(--brown);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 8px -5px 2px rgb(0,0,0,0.2), 
    -3px -3px 0 var(--brown),
    0   -3px 0 var(--brown),
    3px -3px 0 var(--brown),
    3px  0   0 var(--brown),
    2px  3px 0 var(--brown),
    0    3px 0 var(--brown),
   -3px  3px 0 var(--brown),
   -3px  0   0 var(--brown);
}

.oval {
    height: 60%;
    rotate: -30deg;
    position: relative;
    width: 40%;
    background-color: white;
    border-radius: 50%;
    z-index: 1; 
    border: 5px solid var(--brown);
    box-shadow: 20px -20px 5px 0 rgba(0,0,0,0.1), 20px -20px 5px 0 rgba(0,0,0,0.1);
}

.tamago-container {
    margin-left: 34%;
    top: 45%;
    align-items: center;
    position: absolute;
    z-index: 4;
    filter: brightness(50%);
  }

  .jimmy-container {
    margin-left: 65%;
    top: 27%;
    align-items: center;
    position: absolute;
    z-index: 5;
    filter: brightness(50%);
  }

    .sunny-container {
    margin-left: 55%;
    top: 60%;
    align-items: center;
    position: absolute;
    z-index: 4;
    filter: brightness(50%);
  }

  .sunny-container:hover {
    animation: MoveUpDown 2.5s linear infinite;
    filter: brightness(100%);
    cursor: pointer;
  }

  .jimmy-container:hover {
    animation: MoveUpDown 2.5s linear infinite;
    filter: brightness(100%);
    cursor: pointer;
  }

  .tamago-container:hover {
    animation: MoveUpDown 2s linear infinite;
    filter: brightness(100%);
    cursor: pointer;
  }

  @keyframes MoveUpDown {
    0%, 100% {
        transform: translatex(0px) translatey(0px)
    }
    50% {
        transform: translatex(13px) translatey(13px);
    }
  }

  img {
    filter: drop-shadow(20px -20px 2px rgba(55, 66, 70, 0.4));
  }

  .name {
    display: none;
    font-size: 40px;
    color: var(--mellow);
    -webkit-text-stroke: 2px var(--brown);
    filter: brightness(100%);
  }

  .tamago-container:hover .name{
    animation: fadeIn 3s;
    display: block;
    text-shadow: 4px -4px 2px rgb(0,0,0,0.3);
  }

  .sunny-container:hover .name{
    animation: fadeIn 3s;
    display: block;
    text-shadow: 4px -4px 2px rgb(0,0,0,0.3);
  }

  .jimmy-container:hover .name{
    animation: fadeIn 0.1s;
    display: block;
    text-shadow: 4px -4px 2px rgb(0,0,0,0.3);
  }
