:root {
    --brown: #4f2d2d;
    --mellow: #FFF4B5;
}

.EggText {
    height: 50%;
    rotate: -30deg;
    position: absolute;
    width: 35%;
    font-size: 7rem;
    font-weight: 10000;
    color: var(--mellow);
    margin-top: 2%;
    margin-left: 2%;
    -webkit-text-stroke: 2px var(--brown);
    text-shadow: -4px 5px 0 var(--brown), 
    1px 1px 0 var(--brown), 
   1px -1px 0 var(--brown), 
  -1px -1px 0 var(--brown);
    z-index: 2;
}

.oval {
    height: 60%;
    rotate: -30deg;
    position: absolute;
    width: 40%;
    top: 4%;
    background-color: white;
    border-radius: 50%;
    z-index: 1; 
    border: 3px solid var(--brown);
}

.tamago-container {
    margin-left: 34%;
    top: 45%;
    align-items: center;
    position: absolute;
    z-index: 4;
    filter: brightness(50%);
  }

  .jimmy-container {
    margin-left: 65%;
    top: 27%;
    align-items: center;
    position: absolute;
    z-index: 4;
    filter: brightness(50%);
  }

    .sunny-container {
    margin-left: 55%;
    top: 60%;
    align-items: center;
    position: absolute;
    z-index: 4;
    filter: brightness(50%);
  }

  .sunny-container:hover {
    animation: MoveUpDown 2.5s linear infinite;
    filter: brightness(100%);
  }

  .jimmy-container:hover {
    animation: MoveUpDown 2.5s linear infinite;
    filter: brightness(100%);
  }

  .tamago-container:hover {
    animation: MoveUpDown 2.5s linear infinite;
    filter: brightness(100%);
  }

  @keyframes MoveUpDown {
    0%, 100% {
        transform: translatex(0px) translatey(0px)
    }
    50% {
        transform: translatex(13px) translatey(13px);
    }
  }

  img {
    filter: drop-shadow(20px -20px 2px rgba(55, 66, 70, 0.4));
  }

  h1 {
    font-size: 40px;
    color: var(--mellow);
    -webkit-text-stroke: 2px var(--brown);
    filter: brightness(100%);
  }
