@import url('../Colours.css');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap');

.overall .btn-primary {
    background-color: var(--mellow);
    color: var(--brown);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    display: inline-block;
    margin-top: 3%;
}

.overall .btn-primary:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}

h3 {
    padding: 10px;
    color: var(--brown);
    font-size: 50px;
    text-align: center;
}

.background {
    height: 100vh;
}

.overall {
    display: block;
    position: relative;
    height: 60%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    align-items: center;
    text-align: center;
}

.fillbox {
    padding: 10px 0px;
    color: var(--brown);
}

.overall input {
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--cream);
    color: var(--brown);
    font-family: 'Blinker', sans-serif;
    font-weight:800;
}

.overall .forgot-password {
    color: var(--brown);
    text-align: center;
    margin-top: 10%;
}

.already-registered {
    padding: 10px;
}

p {
    color: var(--brown);
}

.error-message {
    color: rgb(180, 59, 59);
    background-color: rgb(251, 181, 181);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    display: inline-block;
    border: 1px solid rgb(180, 59, 59);
    font-family: 'Blinker', sans-serif;
    font-weight:800;
}

input::placeholder {
    color: #C0AEAE;
}